/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/vector.jpg");
    background-size: cover;
    background-position: top;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}